<app-menu [titreMenu] = "titreMenu" [fiction]="fiction"></app-menu>

<div class="container">

  <mat-card *ngFor = "let texte of textes" class="item-card">

    <mat-card-header>
      <mat-card-title>{{texte.titre}}</mat-card-title>
      <mat-card-subtitle>id : {{texte.id}} | type : {{texte.type}} | uuid : {{texte.uuid}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{texte.description}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button type="button" (click)="updateTexte(texte);" class="btn btn-outline-dark">Editer</button>
      <button type="button" (click)="deleteTexte(texte);" class="btn btn-outline-dark">Supprimer</button>
    <!--<a routerLink="/texte/{{texte.id}}">Voir le texte</a>-->
    </mat-card-actions>
  </mat-card>

</div>

<div class="action">
  <button mat-button>
    <mat-icon>add</mat-icon>
    Créer un nouveau texte
  </button>
</div>
