<app-menu [titreMenu] = "titreMenu" [fiction]="fiction"></app-menu>

<div class="container">

  <mat-card *ngFor = "let texte of payload.items" class="item-card">

    <mat-card-header>
      <mat-card-title>{{texte.titre}}</mat-card-title>
      <mat-card-subtitle>id : {{texte.id}} | type : {{texte.type}} | uuid : {{texte.uuid}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{texte.description}}</p>
    </mat-card-content>



    <mat-card-actions>

      <button mat-button (click)="editTexte(texte)">Edit</button>

      <button type="button" mat-button  (click)="deleteTexte(texte);">
        <mat-icon>delete</mat-icon>
        adieu
      </button>

    </mat-card-actions>
  </mat-card>

</div>

<div class="action">
  <button mat-button (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Créer un nouveau texte
  </button>
</div>
