<div>
    <!--<label>Description de la fiction:-->
        <!--&lt;!&ndash;<input matInput [(ngModel)]="name" placeholder="Titre" #fictionTitre>&ndash;&gt;-->
        <!--<input matInput [(ngModel)]="name" placeholder="Description" #fictionDescription>-->
    <!--</label>-->

  <mat-form-field>
    <input matInput placeholder="Titre" #fictionTitre>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Description" #fictionDescription>
  </mat-form-field>
  <br>
  <button mat-button (click)="addFiction(fictionTitre.value, fictionDescription.value);">
    Créer une fiction
  </button>
</div>




<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="name" placeholder="Titre" #fictionTitre>-->
<!--<input matInput [(ngModel)]="name" placeholder="Description" #fictionDescription>-->
<!--</mat-form-field>-->

