<h2>{{data.titre}}</h2>

<!-- fictions -->

<div *ngIf="data.isAjoutFiction">
  <app-add-fiction></app-add-fiction>
</div>

<div *ngIf="data.isEditionFiction">
  <app-edit-fiction></app-edit-fiction>
</div>

<div *ngIf="data.isAjoutPersonnage">
  <app-add-personnage [indexId]="indexId"></app-add-personnage>
</div>

<div *ngIf="data.isAjoutTexte">
  <app-add-texte [indexId]="indexId"></app-add-texte>
</div>

<div *ngIf="data.isEditionTexte">
  <app-edit-texte [indexId]="indexId"></app-edit-texte>
</div>
