<div class="row">

    <div class="col s6">
        <h1>{{fiction.titre}}</h1>
        <p>{{fiction.id}} - {{fiction.uuid}}</p>
        <p>timestamp = {{fiction.dateCreation.timestamp | date : 'yyyy-MM-dd HH:mm:ss Z' }}</p>
        <p>{{fiction.description}}</p>
    </div>

    <div class="col s3">

        <h1>Textes</h1>

        <div *ngFor = "let texte of fiction.textes">
            <h2>{{texte.titre}}</h2>
            <p>uuid : {{texte.uuid}}</p>
            <p>description : {{texte.description}}</p>
            <p>type : {{texte.type}}</p>
            <!-- <a routerLink="/personnage/{{personnage.id}}">Voir le fiction</a> -->
        </div>

    </div>

    <div class="col s3">
        <h1>Personnages & évènements</h1>
        <div *ngFor = "let personnage of fiction.personnages">
            <h2>{{personnage.titre}}</h2>
            <p>{{personnage.description}}</p>
            <!-- <a routerLink="/personnage/{{personnage.id}}">Voir le fiction</a> -->
        </div>

        <div *ngFor = "let evenement of fiction.evenements">
            <h2>{{evenement.titre}}</h2>
            <p>{{evenement.description}}</p>
            <!-- <a routerLink="/personnage/{{personnage.id}}">Voir le fiction</a> -->
        </div>
    </div>

</div>

