<div class="container">
  id = {{indexId}}
  <mat-form-field>
    <!--<input matInput placeholder="Titre" #fictionTitre>-->
    <input matInput placeholder="Surnom" #persoTitre>
  </mat-form-field>

  <mat-form-field>
    <!--<textarea matInput placeholder="Description"  #fictionDescription></textarea>-->
    <textarea matInput placeholder="Description" #persoDescription></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Année de naissance" #persoAnneeNaissance>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Année de mort" #persoAnneeMort>
  </mat-form-field>

  <button mat-button (click)="addPersonnage(persoTitre.value, persoDescription.value, indexId, persoAnneeNaissance.value, persoAnneeMort.value);">Créer un personnage</button>

</div>
