<h1>Projets</h1>

<app-modal-component class="modal-lg"></app-modal-component>

<div>
    <label>Description du projet:
        Titre : <input #projetTitre>
        Description : <input #projetDescription />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addProjet(projetTitre.value, projetDescription.value); projetDescription.value=''">
        add
    </button>
</div>

<div *ngFor = "let projet of projets">
    <div class="carte-item card">
        <h2>{{ projet.titre }}</h2>
        <p>{{ projet.description }}</p>
        <a routerLink="/projet/{{projet.id}}">Voir le projet</a>
    </div>
</div>
