<app-menu [titreMenu] = "titreMenu" [fiction]="fiction"></app-menu>

<div class="container">
  <mat-card *ngFor = "let personnage of personnages" class="item-card">

    <mat-card-header>
      <mat-card-title>{{personnage.id}} - {{personnage.titre}}</mat-card-title>
      <mat-card-subtitle>uuid : {{personnage.uuid}} | genre : {{personnage.genre}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{personnage.description}}</p>
    </mat-card-content>

    <!--<button type="button" (click)="updateTexte(texte);" class="btn btn-outline-dark">Editer</button>-->
    <button type="button" (click)="deletePersonnage(personnage);" class="btn btn-outline-dark">Supprimer</button>
    <!--<a routerLink="/texte/{{texte.id}}">Voir le texte</a>-->

  </mat-card>

</div>

<div class="action">
  <button mat-button (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Créer un nouveau personnage
  </button>
</div>
