<mat-toolbar>

  <div id="menu-titre">
      <a routerLink="/accueil">
        <h1>fictio > {{titreMenu}}</h1>
      </a>
  </div>

  <div *ngIf="fiction">
    <button class="add" mat-raised-button>
      fiction {{fiction.titre}}
    </button>
  </div>

  <div *ngIf="fiction">

    <button class="add" mat-raised-button>
      <a routerLink="/fiction/{{fiction.id}}/textes">Textes</a>
    </button>

    <button class="add" mat-raised-button>
      <a routerLink="/fiction/{{fiction.id}}/personnages">Personnages</a>
    </button>

    <button class="add" mat-raised-button>
      Evènements
    </button>

    <button class="add" mat-raised-button>
      Plan
    </button>

  </div>

  <div *ngIf="! fiction">
    <button class="add" mat-raised-button  (click)="openDialog()">
      <mat-icon>add</mat-icon> fiction
    </button>
  </div>

  <div>
    <button class="add" mat-raised-button>
      <mat-icon>settings</mat-icon> paramètres
    </button>
  </div>


</mat-toolbar>
