mat-toolbar {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  display: flex;
  /*flex: 1 1 auto;*/
}

div {
  padding-left:10px;
}

h1 {
  font-size : 1.2em;
  color: black;

}

#menu-titre a{
  text-decoration: none;
}
