<mat-toolbar>

  <div>Fictio</div>

  <div>Titre de la section</div>

  <div *ngIf="fiction">
  {{fiction.titre}}
    <ul>
      <li><a routerLink="/fiction/{{fiction.id}}/textes">Textes</a></li>
      <li><a routerLink="/fiction/{{fiction.id}}/personnages">Personnages</a></li>
      <li>Evènements</li>
      <li>Plan</li>
    </ul>
  </div>

  <div *ngIf="! fiction">
    <div>
      <button class="add" mat-mini-fab mat-raised-button color="warn" (click)="openDialog()">
        <mat-icon >add</mat-icon>
      </button>
    </div>
  </div>

  <div>
    <p>Paramètres</p>
  </div>


</mat-toolbar>
