<mat-toolbar>

  <div>Fictio</div>

  <div>{{titreMenu}}</div>

  <div *ngIf="fiction">
  {{fiction.titre}}
    <ul>
      <li><a routerLink="/fiction/{{fiction.id}}/textes">Textes</a></li>
      <li><a routerLink="/fiction/{{fiction.id}}/personnages">Personnages</a></li>
      <li>Evènements</li>
      <li>Plan</li>
    </ul>
  </div>

  <div *ngIf="! fiction">
    <div>
      <button class="add" mat-raised-button  (click)="openDialog()">
        <mat-icon>add</mat-icon> fiction
      </button>
    </div>
  </div>

  <div>
    <button class="add" mat-raised-button>
      <mat-icon>settings</mat-icon> paramètres
    </button>
  </div>


</mat-toolbar>
